.banner {
    background: url('../../assets/image/bg-banner.jpg');
    background-position: center;
    background-size: cover;
}
.show_img {
    background: url('../../assets/image/service/section.jpg');
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    width: 100%;
    height: 100vh;
}