.single_blog .details_container {
    width: 77%;
    margin: auto;
    padding: 100px 16px;
}
.details_container .service_img {
    padding: 25px;
    border-radius: 15px;
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
}