.connect {
    background-color: #212428;
}
.connect .card {
    background-color: #212428;
    width: 500px;
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
}
.connect .card input {
    background-color: #212428;
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    margin-bottom: 10px;
}
.connect .card input:focus {
    outline: none;
}

@media screen and (max-width: 650px) {
    .connect .card {
        width: 100%;
    }
}