.default-btn {
  background-color: #f9004d;
  border: none;
  transition: .4s;
}
.default-btn:hover {
  background-color: #f9004d;
  border: none;
  transform: translateY(-5px);
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
